.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.dashboard-main {
  flex: 1 0 auto;
}

.dashboard-user-profile {
  display: flex;
  flex-direction: row;
  height: 200px;
  margin: 0 40px;
  border: 1px solid #fff;
  align-items: center;

  @media screen and (min-width: 426px) {
    .dashboard-user-avatar {
      display: flex;
      flex-direction: column;
      flex: 1;
      justify-content: center;
      align-items: center;
      text-align: center;

      .dashboard-user-avatar-setter {
        margin-top: 10px;
      }
    }
  
    .user-info {
      flex: 2;
      justify-content: center;
      align-items: center;
      text-align: center;

      p {
        color: #fff;
      }
    }
  }
}

.avatar-modal-main {
  .ant-upload-picture-card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
