.forgetpw-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.forgetpw-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .ant-form-item, .ant-form-explain {
    width: 300px;
    max-width: 300px;
  }

  .forgetpw-btn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .forgetpw-get-captcha {
    margin-bottom: 24px;
  }
}