.header-container {
  display: flex;
  margin: 0 20px 20px 20px;
  padding: 20px 0;
}

.header-title {
  flex: 1;
  color: red;
  text-align: center;
  margin: auto 0;
  font-weight: 800;
  font-size: 28px;

  a {
    color: inherit;
  }
  a:hover {
    color: #fff;
  }
}

.header-nav-container {
  display: flex;
  flex: 3;
  justify-content: center;
  align-items: center;
  margin: auto;

  .header-nav-item {
    flex: 1;
    list-style: none;
    text-align: center;
    margin: 0 5px;
    border-bottom: solid 2px transparent;

    p {
      margin-bottom: 0;
    }
  }

  .header-nav-item:hover {
    cursor: pointer;
    border-bottom: solid 2px #ffffff;
  }
}

.header-login-container {
  display: flex;
  flex: 1;
  margin: auto 0;;
}

.header-userspace {
  text-decoration: none;
  color: #fa6400;
}
.header-userspace:hover {
  color: #fff;
}

.header-login {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  color: #fa6400;
  margin: auto 0;
  text-align: center;

  .header-login-a {
    flex: 1;
    text-decoration: none;
    color: inherit;
  }
  .header-login-a:hover {
    color: #fff;
  }
  .header-signup-div {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid transparent;
    border-radius: 5px;
  }
  .header-signup-div:hover {
    color: #fff;
  }
  .header-signup-a {
    text-decoration: none;
    color: inherit;
  }
}

.header-menu {
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
}

.header-menuitem {
  color: inherit;
}
