.header-container {
  display: flex;
  margin: 0 20px;
}

.header-title {
  flex: 1;
}

.header-nav-container {
  display: flex;
  flex: 3;
  justify-content: center;
  align-items: center;
  margin: auto;

  .header-nav-item {
    flex: 1;
    list-style: none;
    text-align: center;
    margin: 0 5px;
  }

  .header-nav-item:hover {
    cursor: pointer;
    border-bottom: solid 2px #ffffff;
  }
}

.header-login {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  color: #fa6400;
  margin: auto;
}

.header-login:hover {
  color: white;
    cursor: pointer;
    border-bottom: solid 2px #ffffff;
}

.header-menu {
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
}
