.header-container {
  display: flex;
  margin: 0 20px 20px 20px;
  padding: 20px 0;
}

.header-title {
  flex: 1;
  color: red;
  text-align: center;
  margin: auto 0;
  font-weight: 800;
  font-size: 28px;
}

.header-nav-container {
  display: flex;
  flex: 3;
  justify-content: center;
  align-items: center;
  margin: auto;

  .header-nav-item {
    flex: 1;
    list-style: none;
    text-align: center;
    margin: 0 5px;
    border-bottom: solid 2px transparent;

    p {
      margin-bottom: 0;
    }
  }

  .header-nav-item:hover {
    cursor: pointer;
    border-bottom: solid 2px #ffffff;
  }
}

.header-login {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  color: #fa6400;
  margin: auto 0;

  .header-login-a {
    text-decoration: none;
    color: inherit;
  }
}

.header-login:hover {
  color: white;
    cursor: pointer;
    border-bottom: solid 2px #ffffff;
}

.header-menu {
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
}
