.register-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.register-main {
  flex: 1 0 auto;
}

.register-content {
  margin: 0 auto;
  width: 60%;
}

.register-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
}