.resetpw-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.resetpw-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .ant-form-item, .ant-form-explain {
    width: 300px;
    max-width: 300px;
  }
}

.resetps-form-btn {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
