.resetpw-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.resetpw-main {
  flex: 1 0 auto;
}

.resetpw-title {
  text-align: center;

  h1 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 20px;
  }
  p {
    margin-bottom: 20px;
  }
}