.resetpw-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.resetpw-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.resetpw-pw1 {
  min-width: 300px;
}

.resetpw-pw2 {
  min-width: 300px;
}