.title-content-container {
  margin: 2rem 1rem 3.5rem;
  text-align: center;

  .title-font {
    font-family: 'Eina01-Bold', system-ui, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
}