.title-content-container {
  margin: 2rem 1rem 2rem;
  text-align: center;

  .content-style {
    font: 400 16px/1.5 system-ui,-apple-system,BlinkMacSystemFont,"Helvetica Neue",Helvetica,Arial,sans-serif;
  }

  .title-font, .title-style {
    margin: 20px 0;
    font-size: 28px;
    font-family: 'Eina01-Bold', system-ui, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }

  .title-content-continue {
    margin-top: 20px;
  }

  .content-getstart-btn {
    margin-top: 20px;
  }
}