@import '~antd/dist/antd.css';

.background-dark {
  color: #fff;
  background-color: #151617;
}

.App {
  height: 100vh;
}

.background-light {
  color: black;
  background-color: #fff;
}

@media screen and (max-width: 426px) {
  .desktop {
    display: none;
  }
}

@media screen and (min-width: 426px) {
  .mobile {
    display: none;
  }
}

p {
  margin-bottom: 0;
}
